rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow read/write access to all users for testing
    // WARNING: THESE RULES ARE INSECURE AND SHOULD ONLY BE USED FOR TESTING
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
} 